.map {
    height: 500px;
    background: #222222;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }

  .map .leaflet-container {
    height: 100%;
  }
  .para3 {
      text-align: center;
      font-weight: 900;
  }
  .map b {
    font-size: 21px;
    color: #920707;
  }